section.bg-gradient-2.height-lg-60
    //-img.bg-image(src=data.bg_image)
    div.container
        div.row.justify-content-around.align-items-center
            div.col-md-6.mb-3.mb-md-0
                h1.font-alt-1.text-white.display-3!= data.headline
                p.lead.text-white!= data.descript
                a.btn.btn-lg.btn-warning(href=data.button_link)!= data.button_caption
            div.col-md-5.col-xl-4
                for text in data.text_list
                    div.card.card-body.shadow.flex-row.align-items-center
                        div.icon-rounded.bg-success.mr-3.flex-shrink-0
                            i.material-icons.text-white check
                        span.h2.mb-0!= text
