section.bg-white
    img.bg-image(src=data.bg_image)
    div.container.height-md-40
        div.row
            div.col-md-8.col-lg-7.col-xl-6
                nav(aria-label="breadcrumb")
                    ol.breadcrumb.p-0.bg-transparent
                        for bcitem in data.bclist
                            if bcitem.active
                                li.breadcrumb-item.active.text-secondary(aria-current="page")= bcitem.caption
                            else
                                li.breadcrumb-item
                                    a.text-dark(href=bcitem.link)= bcitem.caption
                h1.display-4.text-black!= data.headline
                p.lead.mb-0.text-secondary!= data.descript
                if data.button_caption != ''
                    a.btn.btn-lg.btn-warning(href=data.button_link)!= data.button_caption
