div(class=`container-fluid p-0 custom-header-bgcolor ${data.addclass}`)
    nav.navbar.navbar-expand-lg.navbar-light.p-2
        div.container-fluid.d-flex.justify-content-end
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#wbTopMenu", aria-controls="bs-navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            div.flex-row.collapse.justify-content-center.navbar-collapse(id="wbTopMenu")
                ul.navbar-nav.top-menu
                    each menuitem in data.menu
                        li.nav-item.top-menu-item
                            if data.html
                                a.nav-link(href=`${menuitem.link}.html`) #{menuitem.title}
                            else
                                a.nav-link(href=menuitem.link) #{menuitem.title}
