section.bg-light
    div.container.height-md-20
        div.row
            div.col-md-3.col-lg-4
                img.d-none.d-md-block(src=data.image)
            div.col-md-9.col-lg-8
                each nitem in data.newslist_content
                    div
                        p
                            a.h4(href=`${nitem.id}.html`)= nitem.title
                        p
                            div.d-flex.justify-content-start.align-items-center
                                i.material-icons.text-secondary art_track
                                span.text-secondary.custom-indent-half= nitem.datetime
                        p.text-secondary= nitem.preface
                    hr
                -
                    // Get the max page by comparing maxpagecount and limitedpagecount
                    var this_page = data.newslist_summary.current_page;
                    var max_page = data.newslist_summary.maxpagecount;
                    if (data.newslist_summary.maxpagecount > data.newslist_summary.limitedpagecount) {
                        max_page = data.newslist_summary.limitedpagecount;
                    }
                if max_page > 1
                    div.row.justify-content-center.mt-3
                        div.col-md-auto
                            nav(aria-label="Page navigation bar")
                                ul.pagination
                                    if this_page > 1
                                        li.page-item
                                            a.page-link(href=`news_list_${this_page-1}.html`) 上一页
                                    - id = 1
                                    while id <= max_page
                                        if id == this_page
                                            li.page-item.active
                                                a.page-link(href=`news_list_${id}.html`)= id
                                        else
                                            li.page-item
                                                a.page-link(href=`news_list_${id}.html`)= id
                                        - id++
                                    if this_page < max_page
                                        li.page-item
                                            a.page-link(href=`news_list_${this_page+1}.html`) 下一页
