section.bg-light.p-3
    div.container
        div.row.justify-content-center.align-items-center
            div.col-12.mb-3.mb-sm-0.text-center
                h1!= data.headline
            div.col-12.mb-3.text-center
                if data.descript != '' && data.descript != undefined
                    p.lead!= data.descript
        div.row
            each clitem in data.newslist
                div.col-12.col-md-6
                    div.card.bg-light
                        div.card-body
                            a.h5.card-title.text-primary(href=`${clitem.id}.html`)= clitem.title
                            p.card-text= clitem.datetime
                            p.card-text.text-dark= clitem.preface
        div.row.p-3
            div.col.justify-content-center.text-center
                a.h5(href=`${data.linkid}.html`)= data.linkcaption
